<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <title>Main Page</title>
</head>
<style>
    .main{
        position: absolute;
        margin-left: 40%;
        margin-top: 10%;
    }
    .sub{
        text-decoration: none;
        font-size: 50px;
        border: 2px solid black;
        color: white;
        background-color: grey;
        border-radius: 10px;
    }
</style>
<body>
    <div class="main">
        <a class="sub" href="A_manufacturePost">Manufacturer</a>
        <br>
        <br>
        <a class="sub" href="supplier">Supplier</a>
        <br>
        <br>
        <a class="sub"  href="customer">Customer</a>
    </div>
</body>
</html>